h1 {
  color: #d3a3a3;
  font-size: 15px;
  font-weight: 900px;
  line-height: 28.8px;
  padding-left: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #e20303;
  font-size: 14px;
  font-weight: 400px;
  line-height: 19px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
}
